<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>閱讀聖經</title>
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
  <div class="flex min-h-screen">
    
    <!-- Sidebar -->
    {% block sidebar %}
    {% include 'scriptures/sidebar.html' %}
    {% endblock %}

    <!-- Main Content -->
    {% block main %}
    {% include 'scriptures/main.html' %}
    {% endblock %}
  </div>

</body>

</html>
