<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>閱讀成就</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="h-full bg-gray-100">
    <h1 class="text-2xl font-semibold mx-16 my-8"> 閱讀成就 </h1>

    <div class="grid grid-cols-3 sm:grid-cols-7 gap-4 m-16" id="achievments-container">
        {% for cover in finished %}
        <img src="{{ cover.image.url }}" class="rounded-2xl hover:drop-shadow-xl" alt="" width="100" height="75" />
        {% endfor %}
        {% for cover in unfinished %}
        <img src="{{ cover.image.url }}" class="rounded-2xl brightness-50 blur-xs" alt="" width="100" height="75" />
        {% endfor %}
    </div>

    <div class="grid grid-cols-3 sm:grid-cols-7 gap-4 m-16" id="achievments-container">
        
    </div>
</body>
</html>
